* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  transition: all 0.3s linear;
}

.preset-btn:hover {
  background: #efeff0 !important;
  border: 1px solid #efeff0 !important;
}

.search-btn {
  margin-left: 8px;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
}

.search-btn:hover {
  background: #fff;
  color: #333;
}
